<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>150080908826-vh9kj80qvcfq1ecfr2mmk3o8jjhcpni8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.150080908826-vh9kj80qvcfq1ecfr2mmk3o8jjhcpni8</string>
	<key>API_KEY</key>
	<string>AIzaSyAH38VGJLTKiE3DlHKLhSfcvCmgEukQPbM</string>
	<key>GCM_SENDER_ID</key>
	<string>150080908826</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.kmitina.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-a536a</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-a536a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:150080908826:ios:8d14dcb46e55a13bd36ba3</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ios13-a536a.firebaseio.com</string>
</dict>
</plist>